body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #333333;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-weather, #forecast {
    margin-top: 20px;
}

#pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
